mixin about
    .about
        .about__inner
            .about__item
                .about__title Почему выбирают нас?
                .about__description С нами надежно и просто. Мы с радостью сотрудничаем как с владельцами сотен частных домовладений по всей Ленобласти, так и с крупнейшими компаниями, доверяющими нам свои деревья в том числе и в других городах нашей страны. 
        .about__inner
            .about__item
                .about__title Что мы можем предложить?
                .about__description Мы готовы выполнять как комплексные решения под ключ, так и следующие услуги по отдельности:
                .about__description Спил деревьев частями, удаление аварийных деревьев, валка деревьев целиком. 
                .about__description Все виды обрезки любых пород деревьев.
                .about__description Измельчение веток, стволов. Фрезеровка и выкорчевка пней. 
                .about__description Спил деревьев частями, удаление аварийных деревьев, валка деревьев целиком. 
                .about__description Ветрозащита и каблинг.
                .about__description Обследование, диагностика состояния деревьев. Уход и лечение деревьев. Внутристволовые инъекции, аэрация почвы, внесение удобрений. 
        .about__inner
            .about__item
                .about__title Немного о нас
                .about__description Наша коллектив сложился в 2017 году. 
                .about__description Всю нашу карьеру мы непрерывно учимся и совершенствуем свои навыки для того, чтобы ваши деревья были безопасны, здоровы и ухожены.
        .about__inner
            .about__item.about__item--collab
                .about__collab
                    img.about__collab-img(src="https://lipsum.app/id/25/1080x1080")
                .about__collab
                    img.about__collab-img(src="https://lipsum.app/id/25/1080x1080")
                .about__collab
                    img.about__collab-img(src="https://lipsum.app/id/25/1080x1080")
                .about__collab
                    img.about__collab-img(src="https://lipsum.app/id/25/1080x1080")
                .about__collab
                    img.about__collab-img(src="https://lipsum.app/id/25/1080x1080")
                .about__collab
                    img.about__collab-img(src="https://lipsum.app/id/25/1080x1080")
