mixin footer
    .footer
        .footer__inner
            .footer__logo
                img(src="../images-min/logo/logo.png")
            .footer__info +7(123)-456-78-90
        .footer__contacts
            a.footer__contact(href="#")
            a.footer__contact(href="#")
            a.footer__contact(href="#")
