mixin gallery
    .gallery
        .gallery__title Галерея
        .gallery__inner
            .gallery__arrow.gallery__arrow--left
            .gallery__item
                img.gallery__item-img(src="https://lipsum.app/id/6/1920x1080")
            .gallery__arrow.gallery__arrow--right