mixin servicesNav
    .services-nav
        .services-nav__logo 
            img(src="../images-min/logo/logo.png")
        .services-nav__links
            a.services-nav__link(href="#") Галерея
            a.services-nav__link(href="#") Связь