mixin servicePopup
    .service-popup
        .service-popup__background
        .service-popup__inner
            .service-popup__form
                label.service-popup__label(for="popupName") Имя
                input.service-popup__textform.textform(type="text" name="popupName" id="popupName")
            .service-popup__form
                label.service-popup__label(for="popupPhone") Номер
                input.service-popup__textform.textform(type="phone" name="popupPhone" id="popupPhone")
            .service-popup__form
                label.service-popup__label(for="popupService") Услуга
                input.service-popup__textform.textform(type="text" name="popupService" id="popupService")
                  