mixin services
    .services
        .services__title Услуги
        .services__inner
            a.services-item(href="../pages/cutting.html")
                .services-item__image
                    img.services-item__img(src="https://lipsum.app/id/1/1920x1080")
                .services-item__name Спил деревьев
                .services-item__button.button к услуге
            a.services-item(href="../pages/prunning.html")
                .services-item__image
                    img.services-item__img(src="https://lipsum.app/id/2/1920x1080")
                .services-item__name Обрезка деревьев
                .services-item__button.button к услуге
            a.services-item(href="#")
                .services-item__image 
                    img.services-item__img(src="https://lipsum.app/id/3/1920x1080")
                .services-item__name Расчистка участков
                .services-item__button.button к услуге
            a.services-item(href="#")
                .services-item__image
                    img.services-item__img(src="https://lipsum.app/id/4/1920x1080")
                .services-item__name Удаление пней
                .services-item__button.button к услуге
            a.services-item(href="#")
                .services-item__image
                    img.services-item__img(src="https://lipsum.app/id/5/1920x1080")
                .services-item__name Измельчение веток 
                .services-item___button.button к услуге
