mixin welcome
    .welcome
        .welcome__nav
            .welcome__nav-logo 
                img(src="../images-min/logo/logo.png")
            .welcome__nav-links
                a.welcome__nav-link(href="../pages/cutting.html") Услуги
                a.welcome__nav-link(href="#") Галерея
                a.welcome__nav-link(href="#") Связь
        .welcome__inner 
            .welcome__title Эксперты в лесных работах
            .welcome__subtitle Удаление, обрезка и утилизация деревьев с гарантией качества
            .welcome__button-inner
                .welcome__button.button Рассчитать стоимость
